* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body{
  height: 100%;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
  
a:hover {
  opacity: 0.7;
}
  
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem;

}

.logo img{
  height: 50px;
  width: auto;
  display: block;
}
  
nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #740487;
}

.hero {
  background: linear-gradient(#1E0488 78%, #4383A0);
  /* #477D9D*/
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;  
  padding: 3rem calc(100vw - 1300px) / 2;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0rem 2rem;

}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button { /* botão de faça o login*/
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background-color: #740487;
  font-weight: bold;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}

.back {
  background-image: url('assets/img/bg1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.second-container {
  background-color: hsla(282, 52%, 37%, 0.415);
  border-radius: 70px;
  color: white;
  margin: 10px 10px;
  padding: 10%;
}

.secondSecond-container {
  background-color: hsla(282, 52%, 37%, 0.415);
  border-radius: 70px;
  color: rgb(255, 255, 255);
  margin: 20px 40px;
  padding: 7%;
  width: 65%;
  height: 45%;
  transform: translateY(50%);
}


@keyframes colorChange{
  0% {color: violet;}
  50% {color: rgb(0, 102, 255);}
  100% {color: violet;}
}

.Project-Violet {
  animation: colorChange 3s infinite; 
}

html, body {
  height: 100%;
  position: relative;
  margin: 0;
}
    
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Assegura que o body tem pelo menos a altura da tela */
}
    
footer {
  margin-top: auto;  /* Empurra o rodapé para baixo automaticamente */
  background-color: #1E0488; /* A cor que você deseja para o fundo */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #0f033d;
  height: 8vh;
}
  
main {
  background: #d3d3d3;
  background-size: cover;
  height: 92vh;
}
  
.nav-list {
  list-style: none;
  display: flex;
}
  
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
  
.mobile-menu {
  display: none;
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #0f033d;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
  opacity: 0;
}
  
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.logo {
  top: 5px;
  left: 10px;
  gap: 0px;
  opacity: 0px;
}

/* Diminuir a fonte para celulares */
@media (max-width: 768px) {
  .column-left h1 {
    font-size: 2rem;
  }

  .column-left p {
    font-size: 1rem;
  }

  nav a {
    font-size: 0.875rem; /* 14px */
  }

  button {
    padding: 0.75rem 2rem;
    font-size: 0.875rem; /* 14px */
  }
}